:root {
    --primary: #fff;
    --bg-color: rgb(5, 53, 61);
    --bg-envelope-color: #f5edd1;
    --envelope-tab: #ecdeb8;
    --envelope-cover: #e6cfa7;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --txt-color: #444;
    --heart-color: rgb(252, 8, 231);
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.container {
    position: relative;
}

.envelope-wrapper {
    position: relative;
    width: 300px;
    height: 230px;
    background: var(--bg-envelope-color);
    box-shadow: 0 0 40px var(--shadow-color);
    overflow: visible; /* so letter can pop out */
    transition: box-shadow 0.5s ease;
}

/* Envelope flap */
.envelope::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 130px solid var(--envelope-tab);
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    transform-origin: top;
    transition: transform 0.5s ease 0.3s;
    z-index: 2;
}

/* Envelope body */
.envelope::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-top: 130px solid transparent;
    border-left: 150px solid var(--envelope-cover);
    border-right: 150px solid var(--envelope-cover);
    border-bottom: 160px solid var(--envelope-cover);
    z-index: 1;
}

/* Letter */
.letter {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(0) scale(1);
    width: 70%;
    height: 70%;
    background: var(--primary);
    box-shadow: 0 0 5px var(--shadow-color);
    border-radius: 6px;
    padding: 12px;
    overflow-y: auto;
    z-index: 3;
    transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55), width 0.8s, height 0.8s;
}

/* Letter text */
.letter .text {
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--txt-color);
}

/* Heart */
.heart {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    background: var(--heart-color);
    transform: translate(-50%, -20%) rotate(-45deg);
    cursor: pointer;
    z-index: 4;
    transition: transform 0.5s;
}
.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
