:root {
    --primary: #fff;
    --bg-color: rgb(5, 53, 61);
    --bg-envelope-color: #f5edd1;
    --envelope-tab: #ecdeb8;
    --envelope-cover: #e6cfa7;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --txt-color: #444;
    --heart-color: rgb(252, 8, 231);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    place-items: center;
}

.container > .envelope-wrapper {
    background: var(--bg-envelope-color);
    box-shadow: 0 0 40px var(--shadow-color);
    position: relative;
    transition: box-shadow 0.6s ease-in-out;
}

.flap .envelope-wrapper {
    box-shadow: 0 15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.2);
}

/* Envelope */
.container .envelope-wrapper .envelope {
    position: relative;
    width: 300px;
    height: 230px;
}

/* Flap (triangle) */
.envelope-wrapper > .envelope::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
    border-top: 130px solid var(--envelope-tab);
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;
    transition: all 0.5s ease-in-out 0.7s;
}

/* Envelope body */
.container .envelope-wrapper .envelope::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0;
    border-top: 130px solid transparent;
    border-right: 150px solid var(--envelope-cover);
    border-bottom: 160px solid var(--envelope-cover);
    border-left: 150px solid var(--envelope-cover);
}

/* Letter inside envelope (closed state) */
.envelope > .letter {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 70%;
    height: 70%;
    background: var(--primary);
    box-shadow: 0 0 5px var(--shadow-color);
    padding: 12px 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 6px;
    z-index: 1;
    transition: al
